.cardWrapper{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 4px 0;
    border: 3px solid var(--color-border);
    color: var(--color-white);
    border-radius: 8px;
    font-size: 18px;
    
}

.cardWrapper:hover {
    cursor: pointer;
}

@media (min-width: 516px) {
    .cardWrapper {
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding: 16px;
        font-size: 22px;
        
    }
    .cardWrapper > div {
        align-self: end;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .cardWrapper{
        border: 3px solid var(--color-border);
        min-width: 150px;
        color: var(--color-white);
        border-radius: 12px;
        font-size: 24px;
    }

    .cardWrapper:hover {
        background-color: var(--color-background-hero);
        border-color: var(--color-background-hero);
    }
    
    .cardWrapper > p {
        line-height: 24px;
    }
    
    .cardWrapper > div {
        align-self: end;
    }
    
}