.skillWrapper {
    flex-grow: 1;
    display: flex;
    color: var(--color-white);
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 3px solid var(--color-border);
    border-radius: 8px;
    font-size: 18px;
}

.skillWrapper:hover {
    background-color: var(--color-background-hero);
    border-color: var(--color-background-hero);
    cursor: default;
}

/*
justify-content: space-around;
*/